# Credenciales — NUNCA subir
.env

# PyInstaller
dist/
build/
*.spec

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# Entornos virtuales
venv/
.venv/
env/

# IDEs
.vscode/
.idea/
*.suo
*.user

# Sistema
.DS_Store
Thumbs.db
